.product__container {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.product__container label {
    font-weight: bold;
}

.product__container input {
    border-radius: 8px;
    padding: 4px 8px;
    width: 228px;

}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    display: flex;
    gap: 16px;
    align-items: center;
    border: 2px solid black;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-width: max-content;
    margin-bottom: 1rem;
}

li button {
    border-radius: 8px;
    cursor: pointer;
    padding: .2rem .5rem;
}

li span {
    font-weight: bold;
}
