$neutral-color-white: hsl(0, 0%, 100%);

.card {
  border-radius: 10px;
  overflow: hidden;

  .card-details {
    background-color: $neutral-color-white;
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 600px;
    max-height: 450px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .card-details {
      padding: 2rem;
    }
  }
}
