

.App {
    text-align: center;
}

.container {
    max-width: 90%;
    margin: 1rem auto;
    background: lightgray;
}

h1 {
    color: black;
}

p {
    color: blue;
    border: 0.5rem dotted gray;
    padding: 1rem 0;
    text-align: left;
    font-weight: 400;
    margin: 1rem;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    padding: .5rem 0;
}

li:hover {
    background: darkgoldenrod;
    cursor: pointer;
}
