.App {

}

.profiles {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.profiles div {
    display: flex;
    flex-direction: column;
}

img {
    width: 50%;
}

button {
    width: 128px;
    height: 128px;
    font-size: 36px;
    cursor: pointer;
}

span {
    margin: 0 16px;
    font-size: 36px;
}
