$primary-color-dark: hsl(158, 36%, 37%);
$neutral-color-dark-grayish-blue: hsl(228, 12%, 48%);

.App {
  margin: 28px 1rem;
}

p {
  font-family: 'Montserrat', serif;
  font-size: 14px;
  line-height: 1.5rem;
  margin: 0;
  color: $neutral-color-dark-grayish-blue;
}

@media (min-width: 768px) {
  .App {
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 28px);
    align-items: center;
  }
}
