$primary-color-dark: hsl(158, 36%, 37%);

.price-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  h1 {
    color: $primary-color-dark;
  }

  p {
    text-decoration: line-through;
  }
}
